---
name: lint
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
jobs:
  yamllint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Lint YAML files
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # 3.1.1
        with:
          format: github
